---
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import { Modal } from '../components/Modal';
---

<Layout title="Gabe and Dayne 2022">
  <main>
    <Section color="#005f73"
      >Hi dayne
      <Modal client:only>Hi dayne!</Modal>
    </Section>
    <Section color="#002200" />
  </main>
</Layout>
